---
import Layout from "@/layouts/Layout.astro";
import { client } from "@/lib/contentful"; 
import type { IBlogs, iBreadCrumbItems } from "@/lib/interface";
import RichTextComponent from "@/components/RichTextComponent";
import type { EntryCollection } from "contentful";
import { Image } from "astro:assets";
import { format } from "date-fns";
import BreadCrumbComponent from "@/components/breadCrumbComponent";


export const prerender = false;

let post;

const { slug } = Astro.params;

try {
  const data: EntryCollection<IBlogs, "WITHOUT_UNRESOLVABLE_LINKS", string> =
    await client.withoutUnresolvableLinks.getEntries<IBlogs>({
      content_type: "blogs",
      "fields.slug": slug,
    });

  if (!data.items.length) {
    throw new Error(`Post with slug "${slug}" not found.`);
  }

  const { title, content, description, image, tags } = data.items[0].fields;
  

  post = {
    title: title,
    content: content,
    description: description,
    image: image,
    tags: tags,
    createdAt: data.items[0].sys.createdAt,
  };
} catch (error) {
  return Astro.redirect("/404");
}

const breadCrumbItem: iBreadCrumbItems[] = [
    { name: "Home", href: "/", current: false },
    { name: "Blogs", href: "/blogs", current: false },
    { name: post?.title, href: "", current: true },
  ];

  const canonicalUrll = new URL(Astro.url); 
---

<Layout
  canonicalUrl={`${canonicalUrll}`}
  description={post?.description}
  title={post?.title}
>
  <section class="first-section md:my-10">
    <div class="space-y-5">
      <BreadCrumbComponent breadCrumbsItems={breadCrumbItem}/>
      <div class="space-y-3">
        <h2 class={'text-3xl font-bold sm:text-4xl'}>
          {post?.title}
        </h2>

        <div>
          {
            post?.tags.map((tag: string) => {
              return (
                <div class=" inline-flex bg-slate-200 rounded-md px-1 py-0.5 mr-3">
                  <span>{tag}</span>
                </div>
              );
            })
          }
          {
            post?.createdAt && (
              <span>
                <span class="mr-2">|</span>
                {format(post?.createdAt, "dd MMM yy")}
              </span>
            )
          }
        </div>
      </div>

      <Image
        src={`${post?.image?.fields.file?.url}`}
        alt={`${post?.image?.fields.title}`}
        title={`${post?.image?.fields.title}`}
        loading={"lazy"}
        height={500}
        width={500}
        class="rounded-lg mb-10 md:w-3/4 w-full h-full object-cover"
      />
      <RichTextComponent RichTextData={post?.content} />
    </div>
  </section>
</Layout>
