---
import { footerData, navItems } from "@/lib/constants";
import { Image } from "astro:assets";

type Props ={
  description: string;
  title: string;
}


const {description} = Astro.props


const currentYear = new Date().getFullYear();

---

<footer class="px-3 pt-4 lg:px-9 bg-[#121926] text-white">
  <div class="grid gap-10 row-gap-6 mb-8 sm:grid-cols-2 py-12 lg:grid-cols-4 max-w-7xl mx-auto">
    <!-- Logo and Description -->
    <div class="sm:col-span-2">
      <div class="flex justify-start items-center space-x-2">
        <Image src={footerData.logo.image} title={footerData.logo.title} alt={footerData.logo.alt} class="md:w-1/4 invert" draggable="false" />
      </div>
      <div class="mt-6 lg:max-w-xl">
        <p class="text-sm">{description}</p>
      </div>
    </div>

    <!-- Sitemap -->
    <div class="flex flex-col gap-2 text-sm">
      <p class="text-base font-bold tracking-wide md:mb-6">{footerData.sitemap.title}</p>
      {navItems.map((item) => (
        <a href={item.href}>{item.name}</a>
      ))}
    </div>

    <!-- Location and Contacts -->
    <!-- <div>
      <p class="text-base font-bold tracking-wide">{footerData.location.title}</p>
      <div class="mt-2 space-y-1">
        <p class="text-sm font-bold">{footerData.location.companyName}</p>
        <p class="text-sm">{footerData.location.registrationNumber}</p>
        <p class="text-sm">{footerData.location.addressLine1}</p>
        <p class="text-sm">{footerData.location.addressLine2}</p>
        <p class="text-sm">{footerData.location.city}</p>
        <a
          href={footerData.location.googleMapsLink}
          class="inline-block mt-2 text-blue-600 hover:text-blue-800 text-sm underline"
          target="_blank"
          rel="noopener noreferrer"
        >
          {footerData.location.googleMapsText}
        </a>
      </div>
      <p class="text-base mt-6 font-bold tracking-wide">{footerData.contacts.title}</p>
      <div class="flex">
        <p class="mr-1">Email:</p>
        <a href={`mailto:${footerData.contacts.email}`} title={footerData.contacts.emailText}>{footerData.contacts.email}</a>
      </div>
    </div> -->
  </div>

  <!-- Copyright and Policies -->
  <div class="flex flex-col-reverse justify-between pt-5 pb-10 border-t lg:flex-row max-w-7xl mx-auto">
    <p class="text-sm">{`© Copyright ${currentYear} Origins Financial. All rights reserved.`}</p>
    <ul class="flex flex-col mb-3 space-y-2 lg:mb-0 sm:space-y-0 sm:space-x-5 sm:flex-row">
      {footerData.policies.map((policy) => (
        <li>
          <a 
            href={policy.href || "/"} 
            class="text-sm transition-colors duration-300"
            target={policy.href?.includes('.pdf') ? '_blank' : undefined}
            rel={policy.href?.includes('.pdf') ? 'noopener noreferrer' : undefined}
          >
            {policy.text}
          </a>
        </li>
      ))}
    </ul>
  </div>
</footer>