---
import { client } from "@/lib/contentful";
import { Image } from "astro:assets";
import type { IService } from "@/lib/interface";
import TitleComponent from "@/components/ui/title.astro";

const serviceData = await client.withoutUnresolvableLinks.getEntries<IService>({
  content_type: "services",
  order: "fields.index" as any
});
---

<section>
  <div class="text-start max-w-3xl">
    <TitleComponent title={"How can we help"} />
  </div>

  <div class="mt-10 gap-10 flex flex-col">
    {
      serviceData.items.map((service) => (
        <div
          style={{ backgroundColor: service.fields.cardColor }}
          class="rounded-xl p-5 group flex md:flex-row flex-col justify-center md:items-center items-start md:gap-16 gap-5"
        >
          <div class="flex md:justify-center items-center">
            <Image
              title={`${service.fields.image?.fields.title}`}
              src={`${service.fields.image?.fields.file?.url}`}
              alt={`${service.fields.image?.fields.title}`}
              width={150}
              height={150}
              class="min-w-[150px] "
              draggable="false"
            />
          </div>

          <div class="flex justify-start space-y-3 items-start flex-col">
            <h3 class="md:text-3xl text-xl font-semibold text-gray-900 ">
              {service.fields.title}
            </h3>
            <p class="text-gray-600 md:text-lg text-md ">{service.fields.description}</p>
          </div>
        </div>
      ))
    }
  </div>
</section>
