---

import OurTeamComponent from "@/components/ourTeamComponent.astro";
import OurTeamSheetComponent from "@/components/ourTeamSheetComponent";
import TitleComponent from "@/components/ui/title.astro";
import Layout from "@/layouts/Layout.astro";
import { client } from "@/lib/contentful";
import type { IOurTeam, ITestimonials } from "@/lib/interface";
import { slugify, unslugify } from "@/lib/slugify";

// Fetching team data from Contentful
const ourTeamData = await client.withoutUnresolvableLinks.getEntries<IOurTeam>({
  content_type: "ourTeam",
});

const testimonialData = await client.withoutUnresolvableLinks.getEntries<ITestimonials>({
  content_type: "testimonials", 
});


// Separate featured and non-featured members
const featuredMembers = ourTeamData.items.filter((member) => member.fields.featured);

const nonFeaturedMembers = ourTeamData.items.filter((member) => !member.fields.featured);

// Further split non-featured members into leaders and members
const leaders = nonFeaturedMembers.filter((member) => member.fields.group === "Leader");
const teamMembers = nonFeaturedMembers.filter((member) => member.fields.group !== "Leader");

// Utility function for pluralizing titles
const pluralizeTitle = (singular: string, plural: string, count: number) => (count === 1 ? singular : plural);

// Function to get testimonials for a specific member
const getMemberTestimonials = (name: string) => {
  return testimonialData.items.filter(
    (testimonial) =>
      testimonial.fields.testimonialFor.toLowerCase() === name.toLowerCase()
  );
};

---

<Layout canonicalUrl="" description="" title="">
  <section class="first-section mb-32">
    <!-- <div>
      {featuredMembers.length > 0 && (
        <TitleComponent
          title={pluralizeTitle("Featured Member", "Featured Members", featuredMembers.length)}
        />
      )}
    </div> -->

    <!-- Featured Members Section -->
    <!-- {featuredMembers.length > 0 && (
      <div class="space-y-8 mb-12">
        {featuredMembers.map((member) => (
          <div class="featured-member">
            <OurTeamSheetComponent client:only="React" ourTeamMemberData={member} testimonialData={testimonialData}>
              <OurTeamComponent membersData={member} />
            </OurTeamSheetComponent>
          </div>
        ))}
      </div>
    )} -->

    <div>
      {leaders.length > 0 && (
        <TitleComponent
          title={pluralizeTitle("Our Leader", "Our Leaders", leaders.length)}
        />
      )}
    </div>

    <!-- Leaders Section -->
    {leaders.length > 0 ? (
      <div class="grid md:grid-cols-4 grid-cols-2 gap-8">
        {leaders.map((member) => (
          <div class="team-member">
            <OurTeamSheetComponent client:only="React" ourTeamMemberData={member} testimonialData={testimonialData}>
              <OurTeamComponent membersData={member} className="md:h-[380px] h-[190px] md:w-[450px] object-cover"  />
            </OurTeamSheetComponent>
          </div>
        ))}
      </div>
    ) : (
      <div></div>
    )}

    <div>
      {teamMembers.length > 0 && (
        <TitleComponent
          title={pluralizeTitle("Team Member", "Team Members", teamMembers.length)}
        />
      )}
    </div>

    <!-- Members Section -->
    {teamMembers.length > 0 ? (
      <div class="grid md:grid-cols-4 grid-cols-2 gap-8">
        {teamMembers.map((member) => (
          <div class="team-member">
            <OurTeamSheetComponent client:only="React" ourTeamMemberData={member} testimonialData={testimonialData}>
              <OurTeamComponent membersData={member} className="md:h-[280px] h-[190px] md:w-[250px] object-cover" />
            </OurTeamSheetComponent>
          </div>
        ))}
      </div>
    ) : (
      <div></div>
    )}
  </section>
</Layout>