---
import { plans } from "@/lib/constants";
import { CustomIcon } from "./customIcon";
import { Button } from "./ui/button";
---

<section class="py-16 px-4 sm:px-6 lg:px-20">
  <div class="text-center max-w-3xl mx-auto">
    <h2 class="text-3xl font-bold sm:text-4xl">Affordable Pricing Plan</h2>
    <p class="mt-4 text-gray-600 text-md">
      Create multiple pricing tiers with varying levels of features or benefits.
      This allows you to cater to different customer needs and budgets.
    </p>
    <div
      class="mt-6 flex justify-center space-x-4 border rounded-md w-max mx-auto p-3"
    >
      <Button
        className="px-4 py-2 text-sm font-medium rounded-md bg-yellow-400 text-black hover:bg-main"
      >
        Monthly
      </Button>
      <Button
        variant={"ghost"}
        className="px-4 py-2 text-sm font-medium rounded-md text-black hover:bg-gray-100 bg-white"
      >
        Yearly
      </Button>
    </div>
  </div>

  <div class="mt-10 grid gap-6 sm:grid-cols-2 lg:grid-cols-3 max-w-7xl mx-auto">
    {
      plans.map((plan) => (
        <div
          class={`p-6 rounded-lg ${
            plan.highlight
              ? "bg-yellow-100 text-black"
              : "bg-gray-100 text-gray-900"
          }`}
        >
          <div class="flex items-center  space-x-2">
            <div class="bg-yellow-400 rounded-md p-2">
              <CustomIcon iconName={plan.icon} size="1.2rem" />
            </div>
            <h3 class="text-xl font-semibold">{plan.name}</h3>
          </div>

          <div class="mt-4">
            <span class="text-4xl font-bold">{plan.price}</span>
            <span class="text-sm font-medium">/{plan.frequency}</span>
          </div>
          <div>
            <ul class="mt-6 space-y-2 text-sm">
              {plan.description.map((feature) => (
                <li class="flex items-center">
                  <span class="text-yellow-400">✔</span>
                  <span class="ml-2">{feature}</span>
                </li>
              ))}
            </ul>
            <Button
              className={`mt-6 w-full py-2 px-4 text-sm font-medium rounded ${
                plan.highlight
                  ? "bg-black text-white hover:bg-gray-800"
                  : "bg-white text-black border hover:bg-gray-100"
              }`}
            >
              Get Started
            </Button>
          </div>
        </div>
      ))
    }
  </div>
</section>
