---
import Footer from "@/components/sections/footer.astro";
import Navbar from "@/components/sections/navbar.astro";
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";

// Define props
export interface Props {
  title: string;
  description: string;
  canonicalUrl: string;
}

// Destructure props
const { title, description, canonicalUrl } = Astro.props;

// Define default values (optional)
const defaultTitle = "Title";
const defaultDescription = "This is a default description.";
const defaultCanonicalUrl = "This is a canonical URL";

// Use provided props or fallback to defaults
const pageTitle = title || defaultTitle;
const pageDescription = description || defaultDescription;
const pageCanonicalUrl = canonicalUrl || defaultCanonicalUrl;

// OG image URL
const imageUrl = `/assets/images/logo.svg`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{pageTitle}</title>
    <meta name="title" content={pageTitle} />
    <meta name="description" content={pageDescription} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={pageCanonicalUrl} />
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={pageDescription} />
    <meta property="og:image" content={imageUrl} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={pageCanonicalUrl} />
    <meta property="twitter:title" content={pageTitle} />
    <meta property="twitter:description" content={pageDescription} />
    <meta property="twitter:image" content={imageUrl} />

    <!-- Canonical URL -->
    <link rel="canonical" href={pageCanonicalUrl} />

    <!-- Additional SEO Tags -->
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="your, keywords, here" />
    <meta name="author" content="Your Name" />
    <ClientRouter/>
  </head>

  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
